<ion-header>
  <ion-toolbar>
    <ion-title>รายละเอียดการแข่งขัน</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="competition" (click)="dimissModal()"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- start:: Card Type Sport -->
  <ion-card>
    <!-- Inputs with labels -->
    <ion-item>
      <ion-label>ประเภทกีฬา :</ion-label>
      <ion-input type="text" value="แบดมินตันชาย 18 ปี" readonly></ion-input>
    </ion-item>
  </ion-card>
  <!-- end:: Card Type Sport -->

  <!-- start:: Card Input name -->
  <ion-card>
    <ion-row>
      <ion-col class="ion-text-left">
        <!-- Inputs with labels -->
        <ion-item>
          <ion-label position="stacked">ชื่อ</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">นามสกุล</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-card>
  <!-- end:: Card Input name -->

  <!-- start:: Card Phone number context -->
  <ion-card>
    <ion-row>
      <ion-col class="ion-text-left">
        <!-- Inputs with labels -->
        <ion-item>
          <ion-label position="stacked">เบอร์โทร</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>
  <!-- end:: Card Phone number context -->

  <!-- start:: Card Upload image -->
  <!-- end:: Card Upload image -->

  <ion-button expand="block" shape="round" color="success" class="ion-margin-horizontal" (click)="onCompetitionJoin()">ยืนยัน</ion-button>

</ion-content>
