<ion-header>
  <ion-toolbar>
    <ion-title>รายการการแข่งขัน</ion-title>
    <!-- start: rool back -->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <!-- end: rool back -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- start:: Card content -->
  <ion-card color="secondary" (click)="onCompetitionJoin()">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
            <ion-icon name="basketball-outline" size="large"></ion-icon>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/competition/competition-join" color="secondary">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
            <ion-icon name="basketball-outline" size="large"></ion-icon>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/competition/competition-join" color="secondary">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
            <ion-icon name="basketball-outline" size="large"></ion-icon>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/competition/competition-join" color="secondary">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
            <ion-icon name="basketball-outline" size="large"></ion-icon>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/competition/competition-join" color="secondary">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
            <ion-icon name="basketball-outline" size="large"></ion-icon>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/competition/competition-join" color="secondary">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
            <ion-icon name="basketball-outline" size="large"></ion-icon>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/competition/competition-join" color="secondary">
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center ion-margin-vertical">
          <ion-card-title>
            <ion-label size="18">แบดมินตันชาย 18 ปี</ion-label>
            <ion-icon name="basketball-outline" size="large"></ion-icon>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <!-- end:: Card content -->

</ion-content>
